@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

//colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);


html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body,p,a,ul,li,h1,h2 {
  margin: 0;
  padding: o;
  text-decoration: none;
  overflow-x: hidden;
}

li {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: 0.15em;
}
h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.9em;
  text-align: center;
  font-weight: 900;
}
p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  line-height: 1.6;
}

header {
  height: 540px;
  width: 100%;
  position: relative;
  background-image: url('/images/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: white;
    padding: 37px;
  }
  .top-links {
    display: none;
  }
  .burger {
    cursor: pointer;
  }
}
.mobile-menu {
  background-color: $white;
  position: absolute;
  width: calc(100% - 40px);
  margin: 0 19px;
  padding-bottom: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  font-family: "Barlow", sans-serif;
  .pointer {
    border: 25px solid #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 0;
    top: -25px;
  }
  ul {
    text-align: center;
    list-style: none;
    padding: 0;
    li {
      color: $grayish-blue;
      padding: 21px;
      font-size: 18px;
    }
  }
}
.contact {
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  border: none;
  background-color: $yellow;
  border-radius: 56px;
  padding: 18px 25px;   
}

.visible {
  display: flex;
}
.img-container {
  background-size: cover;
  background-position: center;
  height: 312px;
}
.img-egg {
  background-image: url('./images/mobile/image-transform.jpg');
}
.img-glass {
  background-image: url('./images/mobile/image-stand-out.jpg');
}
.informational {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fraunces", sans-serif;
  padding: 35px 0;
  h2 {
    padding: 20px;
  }
  p {
    color: $dark-grayish-blue;
    padding: 10px 25px 25px 25px;
  }
  .learn-2 {
    mark {
      background-color: hsl(7, 99%, 70%, 0.2);
    }
  }
  .learn-2:hover {
    mark {
      background-color: $soft-red;
    }
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 0.9em;
    cursor: pointer;
    padding-bottom: 33px;
    padding-top: 15px;
    mark {
      display: inline-block;
      line-height: 0em;
      padding: 0 0.6em;
      padding-bottom: 0.8em;
      border-radius: 14px;
      background-color: hsla(51, 100%, 49%, 0.2);
    }
  }
  a:hover {
    font-weight: 900;
    mark {
      background-color: $yellow;
    }
  }
}
.design, .photography {
  background-size: cover;
  height: 600px;
  color: hsl(167, 40%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  p {
    padding: 10px 21px 38px 21px;
  }
}
.design {
  background-image: url('./images/mobile/image-graphic-design.jpg');
  color: $dark-desaturated-cyan;
}
.photography {
  background-image: url('./images/mobile/image-photography.jpg');
  color: $dark-blue;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  h1 {
    color: $grayish-blue;
    font-family: "Fraunces", sans-serif;
    font-size: 16px;
    letter-spacing: 0.17em;
    padding-bottom: 30px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    img {
      border-radius: 50%;
      width: 75px;
    }
    p {
      color: hsl(232, 10%, 55%);
      text-align: center;
      padding: 20px 21px;
    }
    .author {
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        font-family: "Fraunces", sans-serif;
        text-align: center;
        font-weight: 900;
        font-size: 21px;
        margin-bottom: 10px;
        margin-top: 0;
      }
      .job {
        padding: 0;
        padding: 0px;
        margin-top: 0;
        font-size: 15px;
        color: $grayish-blue;
      }
    }
  }
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 380px;

  .milk {
    background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
    background-size: cover;
    grid-column: 1/7;
    grid-row: 1;
    background-position: center;
  }
  .orange {
    background-image: url("./images/mobile/image-gallery-orange.jpg");
    grid-column: 7/13;
    grid-row: 1;
    background-size: cover;
    background-position: center;
  }
  .cone {
    background-image: url("./images/mobile/image-gallery-cone.jpg");
    grid-column: 1/7;
    grid-row:2;
    background-size: cover;
    background-position: center;
  }
  .cubes {
    background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
    grid-column: 7/13;
    grid-row: 2;
    background-size: cover;
    background-position: center;
  }
}
footer {
  background-color: hsl(166.76deg 44.16% 69.8%);
  .layer {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  .logo {
    height: 35px;
    width: 175px;
    mask: url(./images/logo.svg) no-repeat center / contain;
    background-color: hsl(167, 48%, 29%);
  }
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: hsl(167.65deg 30.63% 43.53%);
      font-family: "Barlow", sans-serif;
      font-weight: 600;
      font-size: 19px;
    }
  }
  .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .icon-facebook {
      mask: url("./images/icon-facebook.svg");
    }
    .icon-instagram {
      mask: url("./images/icon-instagram.svg");
    }
    .icon-twitter {
      mask: url("./images/icon-twitter.svg");
      width:20px; 
      height:17px;
    }
    .icon-pinterest {
      mask: url("./images/icon-pinterest.svg")
    }
    .icon {
      background: $dark-moderate-cyan;
      display: inline-block;
      width: 20px;
      height: 20px;
      mask-size: cover;
    }
    .icon:hover {
      background: $white;
    }
  }
 }
}

// small tablet styles 
@media screen and (min-width: 620px) {
  header {
    background-image: url('/images/desktop/image-header.jpg');
  }
  .img-egg {
    background-image: url('./images/desktop/image-transform.jpg');
    grid-column: 1/3;
    grid-row: 1;
    height: 600px;
    box-sizing: border-box;
  }
  .informational {
    h2 {
      padding: 0;
      font-size: 2.7em;
      text-align: start;
    }
    p {
      padding: 15px 0 25px 0;
      text-align: start;
      font-size: 1.07em;
    }
  }
  .info1 {
    grid-column: 1/3;
    grid-row: 2;
    height: 600px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 0 160px;
  }
  .img-glass {
    background-image: url('./images/desktop/image-stand-out.jpg');
    grid-column: 1/3;
    grid-row: 3;
    height: 600px;
    box-sizing: border-box;
  }
  .info2 {
    grid-column: 1/3;
    grid-row: 4;
    height: 600px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 0 160px;
  }
  .design {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-position: center;
    grid-column: 1/3;
    grid-row: 5;
    box-sizing: border-box;
    padding: 0 155px 40px 155px;
    font-size: 16px;
    h2 {
      font-size: 1.7em;
      margin-bottom: 10px;
    }
  }
  .photography{
    background-image: url('./images/desktop/image-photography.jpg');
    background-position: center;
    grid-column: 1/3;
    grid-row: 6;
    box-sizing: border-box;
    padding: 0 155px 40px 155px;
    font-size: 16px;
    h2 {
      font-size: 1.7em;
      margin-bottom: 10px;
    }
  }
  .testimonials {
    grid-column: 1/3;
    grid-row: 7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 57px;
    .client-header {
      grid-column: 1/13;
      grid-row: 1;
      font-size: 1.3em;
      letter-spacing: 0.21em;
      padding-bottom: 60px;
    }
    .card {
      img {
        border-radius: 50%;
        width: 70px;
      }
      p {
        font-size: 1.1em;
        padding: 20px 21px;
      }
      height: 110%;
      justify-content: space-between;
      .author {
        .name {
          font-family: "Fraunces", sans-serif;
          text-align: center;
          font-weight: 900;
          font-size: 1em;
          margin-bottom: 10px;
          margin-top: 0;
        }
        .job {
          padding: 0;
          padding: 0px;
          margin-top: 0;
          font-size: 0.8em;
          color: $grayish-blue;
        }
      }
    }
    .card-1 {
      grid-column: 1/5;
      grid-row: 2;
    }
    .card-2 {
      grid-column: 5/9;
      grid-row: 2;
    }
    .card-3 {
      grid-column: 9/13;
      grid-row: 2;
    }
  }
  .img-grid {
    grid-column: 1/3;
    grid-row: 8;
    .milk {
      grid-column: 1/4;
      grid-row: 1;
    }
    .orange {
      grid-column: 4/7;
      grid-row: 1;
    }
    .cone {
      grid-column: 7/10;
      grid-row: 1;
    }
    .cubes {
      grid-column: 10/13;
      grid-row: 1;
    }
  }
  
  footer {
    .layer {
      height: 370px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width:50%;
      margin: auto;
      .logo {
        height: 35px;
        width: 175px;
        mask: url(./images/logo.svg) no-repeat center / contain;
        background-color: hsl(167, 48%, 29%);
      }
      nav {
        display: flex;
        width: 75%;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: hsl(167.65deg 30.63% 43.53%);
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          font-size: 19px;
        }
        a:hover {
          color: $white;
        }
      }
      .icons {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: $dark-moderate-cyan;
        margin-bottom: 30px;
      }
      .icons:hover {
        cursor: pointer;
        color: $white;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 15px;
  }
  header {
    height: 800px;
    nav {
      padding: 10px 15px;
    }
    .logo {
      width: 170px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      img {
        width: 170px;
      }
    }
    .burger {
      display: none;
    }
    .top-links {
      display:flex;
      text-align: center;
      align-items: center;
      list-style: none;
      padding: 0;
      padding-right: 10px;
      cursor: pointer;
      li {
        color: $white;
        padding: 21px;
        font-size: 19px;
      }
      .contact {
        background-color: $white;   
      }
      .contact:hover {
        color: $white;
        background-color: hsla(0, 0%, 100%, 0.4);
      }
    }
    .info {
      height: 360px;
      justify-content: space-between;
      h1 {
        font-size: 3.9em;
        padding: 81px 37px 37px 37px;
      }
    }
  }
  main {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    .img-egg {
      grid-column: 2/3;
    }
    .info1 {
      grid-column: 1/2;
      grid-row: 1;
    }
    .img-glass {
      grid-column: 1/2;
      grid-row: 2;
    }
    .info2 {
      grid-column: 2/3;
      grid-row: 2;
      padding: 0 110px;
      p {
        padding: 25px 0 25px 0;
      }
    }
    .design {
      grid-column: 1/2;
      grid-row: 3;
    }
    .photography{
      grid-column: 2/3;
      grid-row: 3;
    }
    .testimonials {
      grid-row: 4;
    }
    .img-grid {
      grid-row: 5;
      .milk {
        background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
      }
      .orange {
        background-image: url("./images/desktop/image-gallery-orange.jpg");
      }
      .cone {
        background-image: url("./images/desktop/image-gallery-cone.jpg");
      }
      .cubes {
        background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
      }
    }
  }
  .icons {
    width: 35%;
  }
}